<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>English</string>
<key>CFBundleExecutable</key>
<string>JavaAppLauncher</string>
<key>CFBundleIconFile</key>
<string>Mesquite.icns</string>
<key>CFBundleIdentifier</key>
<string>start.Mesquite</string>
<key>CFBundleDisplayName</key>
<string>Mesquite</string>
<key>CFBundleDocumentTypes</key>
<array>
	<dict>
		<key>CFBundleTypeExtensions</key>
		<array>
			<string>nex</string>
		</array>
		<key>CFBundleTypeName</key>
		<string>Mesquite NEXUS file</string>
		<key>CFBundleTypeOSTypes</key>
		<array>
			<string>TEXT</string>
		</array>
		<key>CFBundleTypeRole</key>
		<string>Editor</string>
	</dict>
</array>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>Mesquite</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleShortVersionString</key>
<string>1.0</string>
<key>CFBundleSignature</key>
<string>????</string>
<key>CFBundleVersion</key>
<string>1</string>
<key>NSHumanReadableCopyright</key>
<string></string>
<key>JVMMainClassName</key>
<string>start.Mesquite</string>
<key>JVMOptions</key>
<array>
<string>-Djri.ignore.ule="yes"</string>
<string>-Djava.library.path=lib</string>
<string>-Xss4m</string>
<string>-Xmx1000m</string>
</array>
<key>JVMArguments</key>
<array>
<string>-mqex</string>
<string>-mq17</string>
</array>
</dict>
</plist>

