/***********************************************/
/* Based on Dreamweaver's 2col_leftNav.css     */
/***********************************************/

/***********************************************/
/* HTML tag styles                             */
/***********************************************/ 

body{
	font-family: "Trebuchet MS", Arial, sans-serif;
	color: #333333;
	line-height: 1.166;	
	margin: 0px;
	padding: 0px;
}

a:link, a:visited, a:hover {
	color: #3300CC;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color:#330066;
}


a:hover {
	text-decoration:underline;
}
/* overrides decoration from previous rule for hovered links */

h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS", Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	color: #662200;
}

h1{
 font-size: 140%;
}

h2{
 margin-top:20px;
 font-size: 120%;
 border-top: 1px solid #eebb88;
}

h3, h4, h5, h6 {
	color: #bb8855;
}

h3{
 font-style:italic;
}

h4{
 font-size: 100%;
 text-indent: 20px;
}

h5{
 font-size: 100%;
  text-indent: 40px;
   font-weight: normal;
}

ul{
 list-style-type: square;
}

ul ul{
 list-style-type: disc;
}

ul ul ul{
 list-style-type: none;
}

label{
	font-family: "Trebuchet MS",sans-serif;
 	color: #334d55;
}
				

/***********************************************/
/* Layout Divs                                 */
/***********************************************/

#masthead{
	margin: 0;
	padding: 4px 0px;
	background-color: #ffcc99;
	border-bottom: 1px solid #eebb88;
	width: 100%;
	height: 100px;
}

#banner{
	float: left;
	margin: 0;
	padding: 4px 10px;
	background-color: #ffcc99;
	vertical-align:middle;
	width: 20%;
}

#navBar{
	padding: 0px;
	background-color: #ffcc99;
	border-right: 1px solid #eebb88;
	width: 20%;
}
#navBarExtension{
	padding: 0px;
	background-color: #ffcc99;
	border-right: 1px solid #eebb88;
	width: 20%;
	height: 100%;
	min-height: 100px;
	
	float: left;
}

#content{
	width: 75%;
	left: 25%;
	margin: 0;
	padding: 8px 3% 0 8px;
	float: right;
	background-color:#ffffff;
}



/***********************************************/
/*Component Divs                               */
/***********************************************/

#siteName{
	margin: 0px;
	padding: 0px 0px 10px 10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size: 36px;
	vertical-align:middle;
	background-color: #ffcc99;
	color:#330033;
	
}

#packageName{
	font-size:28px;
}

#version{
	font-size:86%;
}

#mainTitle{
	margin: 0px;
	padding: 0px 0px 10px 10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	vertical-align:middle;
	color:#320032;
	background-color: #ffcc99;
	float: left;
	
}

#subtitle{
	color: #330033;
	background-color: #ffcc99;
	padding-right: 20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	font-size: 18px;
	font-style:italic;
	float: right;
	height:80px;
	vertical-align:-450%;
}


/*************** #pageName styles **************/

#pageName{
	padding: 0px 0px 10px 10px;
}


/************* #globalNav styles **************/

#globalNav{
color: #eebb88;
padding: 0px 0px 0px 10px;
white-space: nowrap;
}
/* 'nowrap' prevents links from line-wrapping if there are too many to fit in one line
   this will force a horizontal scrollbar if there isn't enough room for all links
   remove rule or change value to 'normal' if you want the links to line-wrap */

#globalNav img{
 display: block;
}

#globalNav a {
	font-size: 90%;
	padding: 0px 4px 0px 0px; 
}




/************* #siteInfo styles ***************/

#siteInfo{
	border: 1px solid #eebb88;
	font-size: 75%;
	color: #555555;
	padding: 10px 10px 10px 10px;
	margin-top: 0px;
	margin-right: 10px;

	width: 75%;
	left: 25%;
	float: right;
	
}
/* negative top margin pulls siteinfo up so its top border overlaps (and thus lines up with)
	the bottom border of the navBar in cases where they "touch" */

#siteInfo img{
	padding: 4px 4px 4px 0px;
	vertical-align: middle;
}



/*********** #navBar link styles ***********/

#navBar ul a:link, #navBar ul a:visited {display: block;}
#navBar ul {list-style: none; margin: 0; padding: 0;}
#navBar a:link {color:#773300;}
#navBar a:visited {color:#bb6644;}

/* hack to fix IE/Win's broken rendering of block-level anchors in lists */
#navBar li {border-bottom: 1px solid #EEE;}

/* fix for browsers that don't need the hack */
html>body #navBar li {border-bottom: none;}

#subUL {list-style: none; margin; 0; padding-left: 6px; font-size: 75%; text-indent:8px;}

#extraTopMarginLI {padding-top: 12px}

/*********** #sectionLinks styles ***********/

#sectionLinks{
	position: relative;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid #eebb88;
	font-size: 90%;
}

#sectionLinks h3{
	padding: 10px 0px 2px 10px;
}

#sectionLinks a:link{
	padding: 2px 0px 2px 10px;
	border-top: 1px solid #eebb88;
	width: 100%;
  voice-family: "\"}\""; 
  voice-family:inherit;
	width: auto;
}

#sectionLinks a:visited{
	border-top: 1px solid #eebb88;
	padding: 2px 0px 2px 10px;
}

#sectionLinks a:hover{
	border-top: 1px solid #eebb88;
	background-color: #eebb88;
	padding: 2px 0px 2px 10px;
}





#menu {
	font-family:Georgia, "Times New Roman", Times, serif;
	color: #000000;
	font-weight:600;
	}
