#MESQUITEINIT BATCHFILE 1
 name = Basic_PAUP_tree_search
 explanation = 'Batch file to request PAUP to do basic tree search on each data matrix, saving a tree file and consensus tree for each.  It will also produce consensus trees of the consensus trees from each search.'
 start1 = '#NEXUS^nbegin paup;^n	set autoclose nowarnreset nowarntree nowarntsave;'
 repeat1 = 'execute ''<name><number>.nex'';^nhs;^nsavetrees file = ''<name><number>.trees'';^ncontree / strict= yes majrule=no treefile = ''CB<name>'' append = yes;'
 end1 = 'gettrees file = ''CB<name>''  warntree = no allblocks;^nsavetrees file = ''consensus.trees'';^ncontree / strict= yes treefile = ''StrictConsCons.trees'';^ncontree / strict= no majrule=yes treefile = ''MajRuleConsCons.trees'';^nend;'
 batchFileName1 = paupCommands.nex
 matrixExportFormat =  NEXUS_file_interpreter
