#MESQUITEINIT BATCHFILE 1name = 'Basic NONA tree search'explanation = 'Batch file to request NONA to do basic tree search on each data matrix, saving a tree file for each'repeat1 = 'proc <name><number>.ss;^nh 100;^namb=;^nemp;^nsv* <name><number>.tre;^nsv/;^ndata -;^nz;'end1 = 'proc/;'repeat2 = '<name><number>.tre'matrixExportFormat = 'NONA, Hennig86, PiWe, WinClada'batchFileName1 = 'batch.ss'