
.wiki { line-height: 1.5; font-family: arial, helvetica, sans-serif; font-size: 13px; }
.wiki h1 { font-weight: bold; padding: 5px 0 0 0; margin: 0; font-size: 1.4em; }
.wiki h2 { font-weight: bold; padding: 5px 0 0 0; margin: 0; font-size: 1.3em; }
.wiki h3 { font-weight: bold; padding: 5px 0 0 0; margin: 0; font-size: 1.1em; }
.wiki h4 { font-weight: normal; padding: 5px 0 0 0; margin: 0; font-size: 1.066em; }
.wiki h5 { font-weight: normal; padding: 5px 0 0 0; margin: 0; font-size: 1.033em; }
.wiki h6 { font-weight: normal; padding: 5px 0 0 0; margin: 0; font-size: 1.0em; }
.wiki table { border-collapse: collapse; margin: 10px 1px; font-size: 13px; }
.wiki p { margin: 0; padding: 0; padding: 5px 0; }
.wiki td { border: 1px solid #DDD; vertical-align: top; min-width: 5px; min-height: 20px; }
.wiki th { min-width: 5px; min-height: 20px; }
.wiki #toc { border: 1px solid #DCDCDC; background: #F3F3F3; padding: 6px; margin: 0 0 10px 10px; width: 30%; float: right; clear: right; border-radius: 6px; }
.wiki #toc h1 { font-weight: normal; font-size: 1.2em; padding: 0; }
.wiki #toc div { padding-bottom:  3px; }
.wiki pre { background-color: #EEE; border: 1px solid #CCC; padding: 10px; font-size: 13px; overflow-x: auto; }
.wiki .nob td { border: 0; }
.wiki hr { height: 1px; color: #AAA; background-color: #AAA; border: 0; margin: 0.5em 0; }
.wiki ul { padding: 0 0 0 3em; margin: 0; margin-top: 0.5em; }
.wiki ol { padding: 0 0 0 3em; margin: 0; margin-top: 0.5em; }
.wiki ul.quotelist { list-style: none; }
.wiki a.ext { background: url(/i/a.gif) center right no-repeat; padding-right: 10px; }
.wiki a.wiki_link_new { color: #600; }
.wiki a.wiki_link_ext { background: url(/i/a.gif) center right no-repeat; padding-right: 10px; }
.wiki img { border: 0; padding: 4px; }

.wiki .includeBodyActive { background: #fffacd; }
.wiki .includeBody { background: inherit; clear: left; }
.wiki .includeHeader { padding: 2px; padding-top: 2px; }
.wiki .includeTitle { font-size: 120%; font-weight: bold; }
.wiki .includeEditButton { float: right; padding-left: 10px; padding-right: 10px;}
.wiki .includeEditButtonActive { float: right; padding-left: 10px; padding-right: 10px; }
.wiki .includeEditButton a { color: #888888; font-size: 80%; text-decoration: none; }
.wiki .includeEditButtonActive a { color: black; font-size: 80%; text-decoration: none; }

.wiki .captionBox { border: 1px #CCC solid; padding: 5px; margin: 2px; text-align: center; }

.wiki .userLink { font-weight: bold; }
.wiki .userLinkGuest { font-weight: bold; }

.wiki .comment { display: none; }

/* Adjust custom nav list padding */
.WikiCustomNav ol { padding-left: 1.5em; }
.WikiCustomNav ul { padding-left: 1em; }
.WikiCustomNav ol.includePageList { padding-left: 0; }
.WikiCustomNav img { max-width: 100%; }

/* toc properties in mobile */
@media (max-width:992px) {
    #content_view.wiki #toc { width: 100%; float: none; clear: none;}
    #content_view.wiki img { max-width: 100% !important; height: auto !important; }
}
.wiki .RssAuthor { color: #666; font-size: 80%; }
.wiki .RssDate { color: #666; font-size: 80%; }

.wiki table.includeComments { border-collapse: collapse; padding: 0; margin: 0; width: 100%; }
.wiki table.includeComments td, .wiki table.includeComments th { border: 1px solid #DDD; padding: 4px; margin: 0; }
.wiki table.includeComments th { color: #333; padding: 4px; margin: 0; text-align: center; white-space: nowrap; }
.wiki table.includeComments thead th { background:url(/i/gradient_grey.gif) top left repeat-x #FFF; }
.wiki table.includeComments tfoot th { background-color: #EEE; }

.wiki table.includeHistory { border-collapse: collapse; padding: 0; margin: 0; width: 100%; }
.wiki table.includeHistory td, .wiki table.includeHistory th { border: 1px solid #DDD; padding: 4px; margin: 0; }
.wiki table.includeHistory th { color: #333; padding: 4px; margin: 0; text-align: center; white-space: nowrap; }
.wiki table.includeHistory thead th { background:url(/i/gradient_grey.gif) top left repeat-x #FFF; }
.wiki table.includeHistory tfoot th { background-color: #EEE; }

.wiki table.includeBacklinks { border-collapse: collapse; padding: 0; margin: 0; width: 100%; }
.wiki table.includeBacklinks td, .wiki table.includeBacklinks th { border: 1px solid #DDD; padding: 4px; margin: 0; }
.wiki table.includeBacklinks th { color: #333; padding: 4px; margin: 0; text-align: center; white-space: nowrap; }
.wiki table.includeBacklinks thead th { background:url(/i/gradient_grey.gif) top left repeat-x #FFF; }
.wiki table.includeBacklinks tfoot th { background-color: #EEE; }

.wiki ul.includeEditorsLarge { list-style: none; display: inline; padding: 0; }
.wiki ul.includeEditorsSmall { list-style: none; display: inline; padding: 0; }
.wiki ul.includeEditorsLarge li { display: inline; padding: 2px; }
.wiki ul.includeEditorsSmall li { display: block; padding: 2px; }

.wiki ol.includePageList { list-style: none; margin-left: 6px; padding: 0; text-indent: -6px; }
.wiki ol.includeWikiList { list-style: none; margin-left: 6px; padding: 0; text-indent: -6px; }

.wiki ol.includeTagCloud { list-style: none; display: inline; padding: 0; }
.wiki ol.includeTagCloud li { display: inline; padding: 2px;}

.wiki .objectEmbed { font-size: 13px; font-family: arial, helvetica, sans-serif; line-height: 1.5; border-radius: 6px; border: 1px solid #DCDCDC; background: #F3F3F3; padding: 6px; display: inline-block; }
.wiki .objectEmbed div { float: left; width: 268px; margin: 0 0 0 6px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.wiki .objectEmbed div.notfound { margin-top: 10px; }
.wiki .objectEmbed a.filename { margin-top: 4px; text-decoration: none; font-weight: bold; color: inherit; }
.wiki .objectEmbed img { float: left; padding: 0; margin: 2px 0; }
.wiki .objectEmbed ul { margin: 0; padding: 0; }
.wiki .objectEmbed li { display: inline; list-style-type: none; padding-right: .5em; white-space: nowrap; }

 